<html>
<head>
<title>Agenda Luciano Sousa</title>

</head>

<body>

<center>

<h1>Cadastro de Contato</h1>

<p>Horario: <%= @time %></p>

<p><%= link_to "Logout", :action => "logout" %></p>

</center>

</body>

</html>
