<html>
<head>
<title>Agenda Luciano Sousa</title>

</head>

<body>

<center>

<p>Redirecionando para a pagina principal.</p>

<p>Horario: <%= @time %></p>

<p><%= link_to "Cadastra", :action => "cadastra" %></p>

</center>

</body>

</html>
